<!doctype html>
<html>
<head>
	<title>squadFeeder: {{name}}</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- LIBRARIES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<!-- STYLESHEETS -->
	<link href="/css/main.css" rel="stylesheet"> 
	<link href="/css/group.css" rel="stylesheet">
	<!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<!-- SOCKET IO /EARLY SCRIPTS -->
	<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
	<script>var group = "{{name}}"</script>
	<script src="/js/initsocket.js"></script>
</head>

<body class="gradient-bg">
	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '415331085257838',
	      xfbml      : true,
	      version    : 'v2.8'
	    });
	    FB.AppEvents.logPageView();
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	
	<div class="container spacer">
	</div>
	<div class="container main-container">

		<!-- HEADER -->
		<div class="row header">
			<div class="col-sm-8">
				<h1>Your Squad</h1>
			</div>
			<div class="col-sm-4">
				<a href="/"><button type="button" class="btn btn-block btn-secondary">Back to Home Page</button></a>
			</div>
		</div>

		<!-- PROGRESSBAR -->
		<div class="row progress-bg">
    		<div class="progressbar" role="progressbar" style="width: 33%;">
			</div>
		</div>

		<!-- FACEBOOK BUTTON -->
		<div class="row">
			<div class="col-sm-12">
				<div class="fb-send" data-href={{url}}></div>
			</div>
		</div>

		<!-- BODY DESCRIPTION -->
		<div class="row">
			<div class="col-sm-12 text-xs-center">
				<br>
				<p>Copy the link below and share it with your friends. Once they click on the link, it will redirect them into a group with you where you can choose your preferences, and start to decide what you guys should eat!</p>

				<!-- COPY LINK -->
				<div id="copylink" class="input-group" id="flexbox">
					<input id="input-link" type="text" value="{{url}}" readonly>
		    		<button class="btn btn-secondary" type="button" data-clipboard-action="copy" data-clipboard-target="#input-link" data-toggle="tooltip" data-placement="top" title="Copy to Clipboard">
		    			<img src="/assets/clippy.svg" alt="Copy to clipboard">
		    		</button>
				</div>

			</div>
		</div>

		<!-- GROUP LIST -->
		<div class="row">
			<div class="col-sm-12">
				<h3>Joined:</h3>
				<ul class="list-group">
					<!-- JQUERY CONTENTS -->
				</ul>
			</div>
		</div>

		<!-- SUBMIT BUTTON -->
		<div class="row">
			<div class="col-sm-12 text-xs-center div-button">
				Loading...
				<!-- JS CONDITIONAL HERE -->
			</div>
		</div>
	</div>
	
	<div class="container spacer">
	</div>

	<!-- NAME CHANGE MODAL -->
	<div class="modal fade" id="modal-namechange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<form>
						<div class="form-group">
					    	<label for="input-namechange">Change Name</label>
					    	<input type="text" class="form-control" id="input-namechange" placeholder="Enter name">
					    	<small id="namehelp" class="form-text text-muted">Choose an unique one!</small>
					  	</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="btn-namechange" type="button" class="btn btn-primary btn-color" data-dismiss="modal">Change Name</button>
				</div>
			</div>
		</div>
	</div>

	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/group.js"></script>
	<script src="/js/clipboard.min.js"></script>

	<!-- SCRIPT FOR COPY TO CLIPBOARD -->
	<script>
		var clipboard = new Clipboard('.btn');

		clipboard.on('success', function(e) {
		    console.log(e);
		});

		clipboard.on('error', function(e) {
		    console.log(e);
		});
	</script>

	<!-- GOOGLE ANALYTICS for squadfeeder-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-87206604-1', 'auto');
	  ga('send', 'pageview', 'button');
	</script>

	<!-- GOOGLE ANALYTICS for hcibuild -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-87217404-1', 'auto');
	  ga('send', 'pageview', 'button');

	</script>
</body>
</html>
