<!doctype html>
<html>
<head>
	<title>Group Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- LIBRARIES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<!-- STYLESHEETS -->
	<link href="/css/main.css" rel="stylesheet"> 
	<link href="/css/group.css" rel="stylesheet">
</head>

<body class="gradient-bg">
	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
 		 var js, fjs = d.getElementsByTagName(s)[0];
 		 if (d.getElementById(id)) return;
 		 js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
 		 fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<div class="container spacer">
	</div>
	<div class="container main-container">

		<!-- HEADER -->
		<div class="row header">
			<div class="col-sm-8">
				<h1>Share Link with Friends!</h1>
			</div>
			<div class="col-sm-4">
				<a href="./"><button type="button" class="btn btn-block btn-secondary">Back to Home Page</button></a>
			</div>
		</div>
		
		<!-- BODY DESCRIPTION -->
		<div class="row">
			<div class="col-sm-12 text-xs-center">
				<br>
				<p>Copy the link below and share it with your friends. Once they click on the link, it will redirect them into a group with you where you can choose your preferences, and start to decide what you guys should eat!</p>
			</div>
		</div>

		<!-- COPY LINK -->
		<div class="form-inline" id="flexbox">
			<input id="search" type="text" value="hello">
    		<button aria-label="Copied!" class="btn" type="button" data-clipboard-action="copy" data-clipboard-target="#search" ><img src="/assets/clippy.svg" alt="Copy to clipboard" width="13"></button>
		</div>
		
		<!-- FACEBOOK BUTTON -->
		<div class="row">
		<h3>Share with your friends!</h3>
		<br>
		<div class="fb-send" data-href="http://www.google.com"></div>
		</div>

		<!-- SUBMIT BUTTON -->
		<div class="row">
			<div class="col-sm-12 text-xs-center">
				<a href="./selection"><button type="button" class="btn btn-lg btn-primary btn-block btn-submit btn-color">Click here when you are ready</button></a>
			</div>
		</div>
	</div>
	
	<div class="container spacer">
	</div>

	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/group.js"></script>
	<script src="/js/clipboard.min.js"></script>

	<script>
    var clipboard = new Clipboard('.btn');

    clipboard.on('success', function(e) {
        console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>
</body>
</html>
