<!doctype html>
<html>
<head>
	<title>Group Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- LIBRARIES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<!-- STYLESHEETS -->
	<link href="/css/main.css" rel="stylesheet"> 
	<link href="/css/group.css" rel="stylesheet">
</head>

<body class="gradient-bg">
	<div class="container spacer">
	</div>
	<div class="container main-container">

		<!-- HEADER -->
		<div class="row header">
			<div class="col-sm-8">
				<h1>Share Link with Friends!</h1>
			</div>
			<div class="col-sm-4">
				<a href="./"><button type="button" class="btn btn-block btn-secondary">Back to Home Page</button></a>
			</div>
		</div>
		
		<!-- COPY LINK -->
		<div class="form-inline" id="flexbox">
			<input id="search" type="text" value="hello">
    		<button aria-label="Copied!" class="btn" type="button" data-clipboard-action="copy" data-clipboard-target="#search" ><img src="/assets/clippy.svg" alt="Copy to clipboard" width="13"></button>
		</div>
		
		<!-- SUBMIT BUTTON -->
		<div class="row">
			<div class="col-sm-12 text-xs-center">
				<a href="./selection"><button type="button" class="btn btn-lg btn-primary btn-block btn-submit btn-color">Click here when you are ready</button></a>
			</div>
		</div>
	</div>
	
	<div class="container spacer">
	</div>

	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/group.js"></script>
	<script src="/js/clipboard.min.js"></script>

	<script>
    var clipboard = new Clipboard('.btn');

    clipboard.on('success', function(e) {
        console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>
</body>
</html>
