<!doctype html>
<html>
<head>
	<title>Group Page</title>	
	<meta charset="utf-8">
	<!-- INSERT VIEWPORT META TAG FOR MOBILE DEVICES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">    
</head>

<body>
	<h1>Group</h1>
	<a href="./selection">Selection</a>


	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>
