<!doctype html>
<html>
<head>
	<title>squadFeeder</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- LIBRARIES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<!-- STYLESHEETS -->
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body class="splash-bg gradient-bg">

	<!-- BODY MAIN SCREEN -->
	<div align="center">
		<div class="container main-container">
	        <div class="row header">
				<div class="col-sm-12">
					<h1 class="display-4">squadFeeder</h1>
				</div>
			</div>

	        <h3>squadFeeder helps you decide what food your group wants to eat!</h3>
	        <h3>Everyone chooses their top 5 choices in separate windows. Then the app tells you what your overall top 3 picks are. Easy and simple! Let's start choosing!</h3>

	        <div class="row">
				<div class="col-sm-12 text-xs-center">
					<button type="button" class="btn btn-lg btn-primary btn-color btn-submit">Click here to start!</button>
				</div>
			</div>
		</div>
	</div>

	<!-- PROGRESS MODAL -->
	<div id="modal-progress" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
 		<div class="modal-dialog modal-sm">
    		<div class="modal-content">
      			<img src="/assets/gears.svg">
      			<p>Creating your group now...</p>
       		</div>
  		</div>
	</div>

	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
