<!doctype html>
<html>
<head>
	<title>Splash Page</title>
	<meta charset="utf-8">
	<!-- LIBRARIES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<!-- STYLESHEETS -->
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
</head>

<body align="center" class="gradient-bg">
	<div class="container main-container">
        <div class="row header">
			<div class="col-sm">
				<h1 class="display-4">Welcome to</h1>
                <h1 class="display-4">[Placeholder]</h1>
			</div>
		</div>

        <h2>[Placeholder] helps you decide what food your group wants to eat!</h2>

        <div class="row">
			<div class="col-sm-12 text-xs-center">
				<a href="./group"><button type="button" class="btn btn-lg btn-primary btn-block btn-submit">Click here to start!</button></a>
			</div>
		</div>
	</div>

	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
