<!doctype html>
<html>
<head>
	<title>Splash Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- LIBRARIES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<!-- STYLESHEETS -->
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body class="splash-bg gradient-bg">

	<!-- LOG IN BUTTONS -->
	<div align="right">
		<button onclick="document.getElementById('id01').style.display='block'">Sign Up</button>
		<button onclick="document.getElementById('id01').style.display='block'">Login</button>
	</div>

	<!-- BODY MAIN SCREEN -->
	<div align="center">
		<div class="container main-container">
	        <div class="row header">
				<div class="col-sm">
					<h1 class="display-4">squadFeeder</h1>
				</div>
			</div>

	        <h3>squadFeeder helps you decide what food your group wants to eat!</h3>
	        <h3>continued description here...</h3>

	        <div class="row">
				<div class="col-sm-12 text-xs-center">
					<a href="./instanceURL"><button type="button" class="btn btn-lg btn-primary btn-color btn-submit">Click here to start!</button></a>
				</div>
			</div>
		</div>
	</div>

	<!-- The Modal -->
	<div id="id01" class="modal">
	  <span onclick="document.getElementById('id01').style.display='none'" 
	class="close" title="Close Modal">&times;</span>

	  <!-- Modal Content -->
	  <form class="modal-content animate" action="action_page.php">
	    <div class="imgcontainer">
	      <img src="img_avatar2.png" alt="Avatar" class="avatar">
	    </div>

	    <div class="container">
	      <label><b>Username</b></label>
	      <input type="text" placeholder="Enter Username" name="uname" required>

	      <label><b>Password</b></label>
	      <input type="password" placeholder="Enter Password" name="psw" required>

	      <button type="submit"><a href="./group">Login</a></button>
	      <input type="checkbox" checked="unchecked"> Remember me
	    </div>

	    <div class="container" style="background-color:#f1f1f1">
	      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
	      <span class="psw">Forgot <a href="#">password?</a></span>
	    </div>
	  </form>
	</div>

	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
