<!doctype html>
<html>
<head>
	<title>squadFeeder</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type"image/ico" href="/assets/favicon.ico">
	<!-- LIBRARIES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<!-- STYLESHEETS -->
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body class="splash-bg gradient-bg">

	<!-- BODY MAIN SCREEN -->
	<div align="center">
		<div class="container main-container">
	        <div class="row header">
				<div class="col-sm-12 text-xs-center">
					<img class="logo-img" src="/assets/logo.png">
					<h1 class="display-4">squad<span class="logo-text">Feeder</span></h1>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 text-xs-center">
					<h3>We help your group quickly find a place to eat together, in three easy steps:</h3>
				</div>
			</div>
			<div class="row spacer"></div>

			<div class="row">
				<div class="col-sm-4">
					<h5>Step 1</h5>
					<p>Form a group by sharing a link!</p>
				</div>
				<div class="col-sm-4">
					<h5>Step 2</h5>
					<p>Choose your favorite foods and preferences!</p>
				</div>
				<div class="col-sm-4">
					<h5>Step 3</h5>
					<p>When everyone is done, get your results!</p>
				</div>
			</div>


	        <div class="row">
				<div class="col-sm-12 text-xs-center">
					<!-- <h3>Quick and easy - let's start choosing!</h3> -->
					<button type="button" class="btn btn-lg btn-primary btn-color btn-submit">Click here to start!</button>
				</div>
			</div>
		</div>
	</div>

	<!-- PROGRESS MODAL -->
	<div id="modal-progress" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
 		<div class="modal-dialog modal-sm">
    		<div class="modal-content">
      			<img src="/assets/gears.svg">
      			<p>Creating your group now...</p>
       		</div>
  		</div>
	</div>

	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>

	<!-- GOOGLE ANALYTICS for squadfeeder-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-87206604-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<!-- GOOGLE ANALYTICS for hcibuild -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-87217404-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
