<!doctype html>
<html>
<head>
	<title>squadFeeder</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- LIBRARIES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<!-- STYLESHEETS -->
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/results.css" rel="stylesheet">
    <!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script>var group = "{{name}}"</script>
</head>

<body class="gradient-bg">
	<div class="container spacer"></div>
	<div class="container main-container">
		<!-- HEADER -->
		<div class="row header">
			<div class="col-sm-8">
				<h1>Results</h1>
			</div>
			<div class="col-sm-4">
				<a href=".."><button class="btn btn-secondary btn-block">Back to Start</button></a>
			</div>
		</div>

		<!-- PROGRESSBAR -->
		<div class="row progress-bg">
    		<div class="progressbar" role="progressbar" style="width: 100%;">
			</div>
		</div>

        <!-- SHOWS PREFERENCES -->
        <div class="row">
            <h3>Here are your group's top 3 preferences:</h3>
        </div>
        <div class="row results">
        	{{#each list}}
            <div class="col-sm-4 text-xs-center">
                {{this.name}}
                <p>{{this.val}}</p>
            </div>
            {{/each}}
        </div>

        <!-- SHOWS RESULTS -->
        <div class="row">
	        <div class="col-sm-6">
	            <h4>Best Choices:</h4>
                <!-- Yelp Search -->
            	<div class="results-container">
                    <!-- JQUERY CONTENTS -->
            	</div>
	        </div>
	        <div class="col-sm-6">
	            <h4>Map:</h4>
	            <div id="map_wrapper">
	                   <div id="map_canvas" class="mapping"></div>
	            </div>
	        </div>
	    </div>
	    <div class="row spacer"></div>
	</div>
	<div class="container spacer"></div>

	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/URI.js"></script>
	<script src="/js/jsonp.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/results.js"></script>

    <!-- GOOGLE MAP API SCRIPT -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABZaEhz5AnijS8IZ8mYWYq-tQJ1dMTNxk&callback=initialize" type="text/javascript"></script>

	<!-- GOOGLE ANALYTICS for squadfeeder-->
	<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-87206604-1', 'auto');
        ga('send', 'pageview');
	</script>

	<!-- GOOGLE ANALYTICS for hcibuild -->
	<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-87217404-1', 'auto');
        ga('send', 'pageview');
	</script>
    </body>
</html>
