<!doctype html>
<html>
<head>
	<title>Results Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- LIBRARIES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<!-- STYLESHEETS --> 
	<link href="/css/main.css" rel="stylesheet"> 
	<link href="/css/results.css" rel="stylesheet">    
</head>

<body class="gradient-bg">
	<div class="container main-container">
		<h1>Results + Planner [Skeleton]</h1>
		<a href="./">Back to Start</a>
	</div>

	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/results.js"></script>
</body>
</html>
