<!doctype html>
<html>
<head>
	<title>Results Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- LIBRARIES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<!-- STYLESHEETS -->
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/results.css" rel="stylesheet">
    <!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body class="gradient-bg">
	<div class="container spacer">
	</div>
	<div class="container main-container">
		<!-- HEADER -->
		<div class="row header">
			<div class="col-sm-8">
				<h1>Results</h1>
			</div>
			<div class="col-sm-4">
				<a href="./"><button class="btn btn-secondary btn-block">Back to Start</button></a>
			</div>
		</div>
        <!-- SHOWS PREFERENCES -->
        <div class="row">
            <h3>Here are your group's top 3 preferences:</h3>
        </div>
        <div class="row">
            <div class="col-sm-4 text-xs-center">
                <p>[FOOD]</p>
            </div>
            <div class="col-sm-4 text-xs-center">
                <p>[FOOD]</p>
            </div>
            <div class="col-sm-4 text-xs-center">
                <p>[FOOD]</p>
            </div>
        </div>
        <!-- SHOWS RESULTS -->
        <div class="col-sm-6">
            <div class="row">
                <h4>Yelp Results:</h4>
            </div>
            <div class="row">
                <p>yelp result #1</p>
                <!-- INSERT YELP RESULT HERE -->
            </div>
            <div class="row">
                <p>yelp result #2</p>
                <!-- INSERT YELP RESULT HERE -->
            </div>
            <div class="row">
                <p>yelp result #3</p>
                <!-- INSERT YELP RESULT HERE -->
            </div>
            <div class="row">
                <p>yelp result #4</p>
                <!-- INSERT YELP RESULT HERE -->
            </div>
            <div class="row">
                <p>yelp result #5</p>
                <!-- INSERT YELP RESULT HERE -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <h4>Google Maps:</h4>
            </div>
            <div id="map"></div>
            <script>
                function initMap() {
                    var uluru = {lat: -25.363, lng: 131.044};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 4,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                }
            </script>
            <div class="row spacer"></div>
        </div>
	</div>
	<div class="container spacer">
	</div>

	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/results.js"></script>
    <!-- GOOGLE MAP API SCRIPT -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABZaEhz5AnijS8IZ8mYWYq-tQJ1dMTNxk&callback=initMap" type="text/javascript"></script>
</body>
</html>
