<!doctype html>
<html>
<head>
	<title>squadFeeder</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- LIBRARIES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<!-- STYLESHEETS -->
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/results.css" rel="stylesheet">
    <!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body class="gradient-bg">
	<div class="container spacer"></div>
	<div class="container main-container">
		<!-- HEADER -->
		<div class="row header">
			<div class="col-sm-8">
				<h1>Results</h1>
			</div>
			<div class="col-sm-4">
				<a href=".."><button class="btn btn-secondary btn-block">Back to Start</button></a>
			</div>
		</div>

		<!-- PROGRESSBAR -->
		<div class="row progress-bg">
    		<div class="progress-bar" role="progressbar" style="width: 100%;">
			</div>
		</div>

        <!-- SHOWS PREFERENCES -->
        <div class="row">
            <h3>Here are your group's top 3 preferences:</h3>
        </div>
        <div class="row results">
            <div class="col-sm-4 text-xs-center">
                <p>Korean: <span>3 votes</span></p>
            </div>
            <div class="col-sm-4 text-xs-center">
                <p>Asian: <span>2 votes</span></p>
            </div>
            <div class="col-sm-4 text-xs-center">
                <p>Sushi: <span>2 votes</span></p>
            </div>
        </div>
        <!-- SHOWS RESULTS -->
        <div class="row">
	        <div class="col-sm-6">
	            <h4>Best Choices:</h4>
            	<!-- INSERT DATA HERE, FAKE FOR NOW -->
            	<ul class="list-group">
            		<li class="list-group-item">
		                <p>manna BBQ (Korean)</p>
		                <a href="https://www.google.com/maps/dir/Current+Location/4428+Convoy+Street+%23210+SD+92111">
		                <p>4428 Convoy St #210, San Diego, CA 92111</p>
		                </a>
            		</li>
            		<li class="list-group-item">
		                <p>Grandma's Tofu Shop (Korean)</p>
		                <a href="https://www.google.com/maps/dir/Current+Location/Grandma+Tofu+%26+BBQ,+4425+Convoy+Street+SD+92111">
		                <p>4425 Convoy St, San Diego, CA 92111</p>
		                </a>
            		</li>
            		<li class="list-group-item">
		                <p>Min Sok Chon (Korean)</p>
		                <a href="https://www.google.com/maps/dir/Current+Location/4620+Convoy+Street+SD+92111">
		                <p>4620 Convoy St D, San Diego, CA 92111</p>
		                </a>
            		</li>
            		<li class="list-group-item">
		                <p>Tajima Japanese Restaurant (Asian)</p>
		                <a href="https://www.google.com/maps/dir/Current+Location/4681+Convoy+Street+SD+92111">
		                <p>4681 Convoy St, San Diego, CA 92111</p>
		                </a>
            		</li>
            		<li class="list-group-item">
		                <p>Kula Revolving Sushi Bar (Sushi)</p>
		                <a href="https://www.google.com/maps/dir/Current+Location/Kula+Revolving+Sushi+Bar,+4609+Convoy+Street+f,+SD+92111">
		                <p>4609 Convoy St f, San Diego, CA 92111</p>
		                </a>
            		</li>
            	</ul>
	        </div>
	        <div class="col-sm-6">
	                <h4>Map:</h4>
	            <div id="map_wrapper">
	                <div id="map_canvas" class="mapping"></div>
	            </div>
	            </script>
	        </div>
	    </div>
	    <div class="row spacer"></div>
	</div>
	<div class="container spacer"></div>

    <!-- GOOGLE MAP API SCRIPT -->
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABZaEhz5AnijS8IZ8mYWYq-tQJ1dMTNxk&callback=initMap" type="text/javascript"></script> -->

	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/results.js"></script>
    </body>
</html>
