<!doctype html>
<html>
<head>
	<title>Selection Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- LIBRARIES -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-flex.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<!-- STYLESHEETS -->
	<link href="/css/main.css" rel="stylesheet"> 
	<link href="/css/selection.css" rel="stylesheet">
	<!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body class="gradient-bg">
	<div class="container spacer">
	</div>
	<div class="container main-container">
		<div class="row header">
			<div class="col-sm-9">
				<h1>Selection</h1>
			</div>
			<div class="col-sm-3 text-xs-right">
				<a href="./group"><button type="button" class="btn btn-block btn-secondary">Back</button></a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8 text-xs-center">
				<h3>What kind of food would you like to eat?</h3>
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" type="search" placeholder="Search restaurants...">
						<div class="input-group-addon">Search</div>
					</div>
				</div>
				<div class="form-group">
					<label for="select-cuisine">Cuisine Type:</label>
					<select class="form-control" id="select-cuisine">
						{{#each select-cuisine}}
						<option>{{this}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group">
					<label for="select-price">Price Range:</label>
					<select class="form-control" id="select-price">
						{{#each select-price}}
						<option>{{this}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group">
					<label for="select-distance">Distance:</label>
					<select class="form-control" id="select-distance">
						{{#each select-distance}}
						<option>{{this}}</option>
						{{/each}}
					</select>
				</div>
			</div>

			<div class="col-sm-4 text-xs-center">
				<h3>Users</h3>
				<ul class="list-group">
					{{#each users}}
					<li class="list-group-item">{{this.name}}</li>
					{{/each}}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 text-xs-center">
				<a href="./results"><button type="button" class="btn btn-lg btn-primary btn-block btn-submit">Submit</button></a>
			</div>
		</div>
	</div>
	<div class="container spacer">
	</div>

	<!-- SCRIPTS -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/selection.js"></script>
</body>
</html>
