/*COPY LINK*/
#copylink img {
	width: 30px;
	opacity: 0.7;
}

#copylink input {
	padding: 10px;
	flex: auto;
	box-shadow: none;
	appearance: none;
}

#copylink button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border: 1px solid #7a7a7a;
}

/* WAITING BUTTON */
.div-waiting {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	padding: 10px;
	border: 1px solid #636363;
	border-radius: 5px;
}
