.main-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-content {
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
}

.modal-content img {
    margin: 25px;
}

@media (max-width: 400px) {
    .display-4 {
        font-size: 2rem;
    }
}

.logo-text {
    color: #DE7684;
}

.logo-img {
    width: 10%;
    margin-bottom: 1rem;
}