.splash-bg {
	/*background-image: linear-gradient(rgba(50,50,50,0.7),rgba(50,50,50,0.7)), url('../images/splash3.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.header {
	background-color: #F7F7F7;
	color: #636363;
	padding-top: 20px;
	padding-bottom: 20px;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 20px;
	color: #636363;
	opacity: .5;
}

.btn-submit {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #DE7684;
	border: 1px solid #DE7684;
}

.btn-submit:hover {
	background-color: #615195;
	border: 1px solid #615195;
}
