body {
	background-color: beige;
}

/*TEXT STYLING*/
h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #636363;
	opacity: .7;
    padding-left: 7px;
}

#map {
    height: 400px;
    width: 100%;
    background-color: grey;
}
