/*TEXT STYLING*/
h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #636363;
	opacity: .7;
    padding-left: 5px;
}

#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

/* RESULTS BAR */
.results {
    font-weight: bold;
}

.results span {
    color: #636363;
}

/* RESULTS LIST */
.results-container {
    display: flex;
    flex-direction: column;
}

.results-item {
    display: flex;
    padding-bottom: 10px;
}

.results-img {
    flex: 1;
    width: 75px;
}

.results-img img {
    height: 75px;
    width: 75px;
}

.results-text {
    flex: auto;
}